body{
  margin: 0;
  background-color: darkolivegreen;
  /*background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);*/
  padding: 0;
  overflow: hidden;
}

.input-box{
  width: 29em;
  height: 4em;
}

/*input:invalid{*/
/*  border: 2px solid darkolivegreen;*/
/*}*/

input{
  /*padding: 0.5em;*/
  /*font-size: 1em;*/
  position: relative;
  border-radius: 10px;
  background-color: gainsboro;
  box-shadow: 0 0 10px rgba(0, 0,0,0.3);
  border: none;
  margin-top: 10px;
  /*padding: 3px;*/
  /*box-sizing: border-box;*/
}

#submit {
  color: darkslategray;
  position: relative;
  top: 40px;
  left: 18px;
  width: 15em;
  height: 50px;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  border: none;
  font-size: 24px;
  border-radius: 10px;
  box-shadow: 0 10px rgba(80,80,80,1);
}

#login-box{
  position: absolute;
  top: 25%;
  left: 37%;
  width: 23%;
  height: 40%;
  border-radius: 20px;
  padding: 30px;
  background-color: #222222;
  /*box-shadow: 0 0 50px rgba(0,0,0, 0.7);*/
}
label{
  font-size: 24px;
  color: beige;
}

iframe{
  position: absolute;
  top: -120px;
  left: -120px;
  width: 1920px;
  height: 1080px;
}
